.Services {
    padding: 48px 0px 32px 0px;
}

.Services > .Header {
    display: flex;
    align-items: flex-end;
}

.Services > .Header > h2 {
    margin-right: 48px;
}

.Services > .Header > p {
    color: var(--dark);
    font-size: 14px;
    margin-bottom: 5px;
}



.Services-List {
    font-family: "Montreal";
    color: var(--dark);
    font-size: 18px;
    margin: 36px 0px;
    border-left: 3px solid var(--accent);
}

.Services-List > li {
    margin-top: 14px;
}

.Services-List > li > p {
    font-size: 14px;
    margin: 4px 0px 8px 8px;
    font-family: "Montreal Light";
    max-width: 75%;
}



.Staff {
    padding-bottom: 48px;
}

.Staff > * {
    color: var(--light);
}

.Staff > h2 {
    padding: 48px 0px 32px 0px;
}


.Staff-Card-Cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Staff-Card {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    transition-property: all;
    transition-duration: 0.5s;
}

.Staff-Card:hover {
    width: 200px;
}

.Staff-Card > img {
    border-radius: 15px;
    width: 100%;
}

.Staff-Card > h5 {
    font-family: "Montreal Medium";
    font-size: 16px;
    margin-top: 8px;
}

.Staff-Card > p {
    font-size: 12px;
}


.New-Client {
    padding-top: 48px;
    padding-bottom: 24px;
}

.New-Client > h5 {
    font-size: 18px;
    font-family: "Montreal";
    color: var(--dark);
    margin-top: 28px;
}

.New-Client > h5 > a, .New-Client > section > p > a {
    font-family: "Montreal Medium";
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-underline-offset: 0.2em;
    text-decoration-thickness: 2px;
    transition-property: all;
    transition-duration: 0.25s;

}

.New-Client > h5 > a:hover, .New-Client > section > p:hover > a:hover {
    padding: 2px 2px;
    background-color: var(--accent);
    /* border-radius: 25px; */
    text-decoration: none;
}

.New-Client > section {
    background-color: var(--light-2);
    padding: 12px;
    border-radius: 12px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.New-Client > section > p {
    color: var(--dark);
}




.Contact {
    height: 400px;
    display: flex;
}

.Contact > .Spacer {
    min-width: 50%;
}

.Contact > .Image-Cont {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50vw;
    height: 100%;
    background-image: url("../src/assets/images/bhs-front.png");
    background-size: cover;
}

.Contact > .Image-Cont > img {
    height: 100%;
    width: auto;
}


.Contact > .Content {
    padding: 24px;
}

.Contact > .Content > div {
    margin-top: 48px;
}

.Contact > .Content > div > p {
    color: var(--light);
    margin: 16px 0px 0px 0px;
}

.Contact > .Content > div > a {
    font-size: 24px;
    font-family: "Montreal Medium";
    color: var(--light);
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-underline-offset: 0.2em;
    text-decoration-thickness: 2px;
    transition-property: all;
    transition-duration: 0.25s;
}

.Contact > .Content > div > a:hover {
    padding: 2px 2px;
    background-color: var(--accent);
    /* border-radius: 25px; */
    text-decoration: none;
}