
.Form-Page {
    background-color: var(--dark);
    justify-content: center;
    /* align-items: center; */
    padding: 72px 24px 0px 24px;
    display: flex;
    min-height: 100vh;

}

.Form-Page > form {
    max-width: 715px;
    width: 715px;
    color: var(--light);
}

.Form-Page > form > main {
    padding: 24px 0px;

}

.Form-Group {
    padding: 24px;
    background-color: var(--dark-2);
    border-radius: 15px;
}

.Form-Group > h5 {
    font-family: "Montreal Medium";
    font-size: 18px;
    margin: 8px 2px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--accent);
}

.Input-Cont {
    width: 100%;
    display: flex;
    position: relative;
}

.Text-Input {
    width: 100%;
    margin: 8px 20px 8px 0;
}

.Text-Input > input, .Text-Input > textarea {
    margin-top: 4px;
    background-color: var(--light);
    color: var(--dark);
    padding: 6px 12px;
    border-radius: 50px;
    border: none;
    width: 100%;
}

.Text-Input > input::placeholder, .Text-Input > textarea::placeholder {
    color: red;
}

.Text-Input > textarea {
    border-radius: 12px;
    font-family: "Montreal";
    height: 80px;
}

.Text-Input > p {
    font-size: 12px;
    margin-left: 6px;
    color: var(--light);
    opacity: 70%;
}

.Text-Input > p > span {
    color: var(--accent)
}


.Spacer {
    min-width: 100%;
}


.Payment-Type, .Treatment-Type {
    display: flex;
    margin: 12px 12px 12px 4px;
}

.Payment-Type > div, .Treatment-Type > div {
    margin: 4px 16px 4px 0px;
    display: flex;
    align-items: center;

}

.Payment-Type > div > label, .Treatment-Type > div > label {
    margin-left: 8px;
    font-family: "Montreal";
    font-size: 14px;
}

.Payment-Type > div > .valid-marker {
    
}



.Form-Submit {
    margin-top: 24px;
    font-size: 18px;
    padding: 20px 32px;
    width: 200px;

}



