
:root {
    --dark: #2A3158;
    --dark-2: #3a426f;
    --light: #FFF0DD;
    --light-2: #FAE6CC;
    --light-2b: #ecd6b9; 
    --light-3: #c5ae8f;
    --accent: #FFA779;
    --accent-2: #ffcd9d;

    --screen-s: 600px;
}

* {
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    box-sizing: border-box;
}


/* FONTS */
@font-face {
    font-family: "Editorial New Bold";
    src: url("./assets/fonts/PPEditorialNew-Bold.woff")
    format("woff")
}
@font-face {
    font-family: "Montreal";
    src: url("./assets/fonts/PPNeueMontreal-Regular.woff")
    format("woff")
}
@font-face {
    font-family: "Montreal Light";
    src: url("./assets/fonts/PPNeueMontreal-Light.woff")
    format("woff")
}
@font-face {
    font-family: "Montreal Medium";
    src: url("./assets/fonts/PPNeueMontreal-Medium.woff")
    format("woff")
}
@font-face {
    font-family: "Montreal Bold";
    src: url("./assets/fonts/PPNeueMontreal-Bold.woff")
    format("woff")
}



body {
    overscroll-behavior-y: none;
}

/* BASIC STYLES */
h1 {
    font-family: "Editorial New Bold";
    font-size: 48px;
}

h2 {
    font-family: "Editorial New Bold";
    font-size: 32px;
    color: var(--dark);
    
}

h3 {
    font-family: "Montreal Medium";
    font-size: 24px;
}

h4 {
    font-family: "Montreal Medium";
    color: var(--dark);
    font-size: 20px;
}

p {
    font-family: "Montreal";
}

a:link, a:visited {
    color: var(--dark)
}

button {
    border: none;
    padding: 8px 12px;
    border-radius: 50px;
    margin: 0px 6px;
    background-color: var(--accent);
    color: var(--dark);
    font-family: "Montreal";
    cursor: pointer;
    outline: 1px solid var(--accent);

}

button:hover {
    background-color: var(--dark);
    color: var(--accent);
}

a {
    font-family: "Montreal Medium";
    /* color: var(--light); */
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-underline-offset: 0.2em;
    text-decoration-thickness: 2px;
    transition-property: all;
    transition-duration: 0.25s;
}

a:hover {
    padding: 0.1em 0.2em;
    background-color: var(--accent);
    text-decoration: none;
}


/* BLOCK STYLES */
.Block {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.Block > .Width-Container {
    max-width: 850px;
    width: 850px;
    padding: 24px;
}



.Title-Block {
    height: 80vh;
}

.Dark-Block {
    background-color: var(--dark);
}

.Light-Block {
    background-color: var(--light);
}


.Scroll-Target {
    display: block;
    transform: translateY(-100px);
}