nav {
    position: sticky;
    top: 0px;
    margin-top: -80px;
    padding: 12px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

nav > div {
    padding: 12px;
    background-color: var(--dark);
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav > div > * {
    /* flex-grow: 1; */
    margin: 4px;
}