
.Title {
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0px 36px;
}

.Title > h1 {
    margin-bottom: 32px;
    line-height: 100%;
}

.Title > h3 {
    margin-bottom: 8px;
    font-family: "Montreal";
}

.Title > p {
    max-width: 480px;
}

.Nav-Container {
    /* position: absolute; */
    bottom: 24px;
}